nav {
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
  background-color: rgba(128, 124, 189, 0.623);
  align-items: center;
  height: 5vh;
}
ul {
  display: flex;
  list-style: none;
  gap: 1rem;
}
h2 {
  text-align: center;
}
#aula {
  flex-wrap: wrap;
}
#aula li {
  width: 100vw;
  text-align: center;
}
a {
  text-decoration: none;
  color: black;
}
a:hover {
  color: aquamarine;
}
